header {
    display: flex;
    justify-content: right;
}

output {
    display: block;
    color: red;
    min-height: 2em;
}

label {
    display: inline-block;
    width: 5rem;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}